/* src/components/AuthCard.css */

.auth-card {
    width: 300px;
    padding: 20px;
    /*margin: 20px auto;*/
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #fff;
    position: relative;
  }
  
  .auth-card h2 {
    margin-bottom: 20px;
  }
  
  .auth-card form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-card .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: left;
  }
  
  .auth-card label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .auth-card input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .auth-card button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
  }
  .error-message {
    color: #d32f2f;
    
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
    text-align: center;
  }

  .forgot-link {
    color: blue;
    cursor: pointer;
  }

 /* Dans AuthCard.css */
.password-rules {
  margin-top: 5px;
  font-size: 0.8rem;
  color: #666;
  text-align: left;
}

.password-rules p {
  margin: 0;
}

.password-strength {
  height: 5px;
  background: #ddd;
  margin-top: 5px;
  border-radius: 2px;
  overflow: hidden;
}

.strength-bar {
  height: 100%;
  transition: width 0.3s, background 0.3s;
}

.strength-0 {
  background: #ff4d4d;
}

.strength-1 {
  background: #ff6b35;
}

.strength-2 {
  background: #ffcc00;
}

.strength-3 {
  background: #aaff80;
}

.strength-4 {
  background: #00cc00;
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
  background-color: #eeeeee;
}
